@import "bower_components/sass-flex-mixin/flex";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import "mixins";
@import "config";
@import "login";
@import "header";
@import "body";
@import "footer";
@import "playlist";
@import "artist";
@import "components/tracks-list";
@import "components/marquee";
@import "components/spinner";

*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
}
html, body, #spotyness{
  height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
::-webkit-input-placeholder {
    color: black;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $gray;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.15);
}

body{
  overflow: hidden;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: 'Noto Sans', sans-serif;
  background-color: $main-black;
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
#spotyness{
  @include flexbox;
  @include flex-direction(column);
}
