#app-content{
  @include flexbox;
  @include flex(1);

  .sidebar-left, .sidebar-right{
    width: 10rem;
    overflow: auto;
  }
  .sidebar-left{
    border-right: 1px solid;
  }
  .sidebar-right{
    border-left: 1px solid;
  }
  .content{
    @include flex(1);
    overflow: auto;
  }
  .playlist{
    li:hover{
      cursor: pointer;
      background-color: #ccc;
    }
  }
}