#app-content{
  @include flexbox;
  @include flex(1);
  color: white;
  font-size: 0.8rem;

  .sidebar-right{
    //TODO: Disabled for now until implement something for it
    // width: 5vw;
   }

  .sidebar-left{
    width: 13vw;
  }

  .sidebar-left{
    @include flexbox;
    @include flex-direction(column);
    background-color: $light-black;
    color: $gray-font-color;
    overflow: hidden;
    border-right: 1px solid $main-black;

    .scrolling-content{
      @include flex(1);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .sidebar-label{
      text-transform: capitalize;
    }
    .playlist-label{
      padding: 20px;
    }
    .playlist{
      @include flex(1);
      margin: 0;
      padding: 0 10px 0 0;
      list-style-type: none;

      li{
        cursor: pointer;
        padding: 5px 0;
        text-indent: 20px;
        display: block;
        overflow: hidden;
        height: 1.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: transparent;

        &:before{
          margin-right: 1rem;
        }
        &.active{
          border-left-color: $green-active;
          color: white;
        }
        &:hover{
          color: white;
        }
      }
    }
    .current-video{
      position: relative;
      border-top: 1px solid black;

      &:hover{
        .videoplayer-action{
          opacity: 1;
        }
      }
      &:not(.big-player){
        .EmberYoutube{
          float: left;
        }
        .current-track-info{
          display: inline-block;
        }
        .toggle-player-size{
          left: 5px;
          width: 25px;
        }
        .full-screen-mode{
          opacity: 0;
        }
        iframe{
          @include square(60px);
        }
      }
      &.exist-player{
        button {
          display: block;
          width: 166px;
          padding: 6px 0;
          border-radius: 8px;
          border: none;
          background-color: white;
          margin: 10px;
          cursor: pointer;
          outline: none;
          
          &[disabled]{
            cursor: default;
            opacity: 0.7;
          }
        }
      }
      .current-track-info{
        white-space: nowrap;
        display: none;
        padding: 10px;
        overflow: hidden;
        width: 120px;
      }
      .videoplayer-action{
        opacity: 0;
        padding: 2px 5px;
        border-radius: 7px;
        color: white;
        transition: all 0.35s;
        cursor: pointer;
        position: absolute;
        right: 5px;
        background-color: rgba(black, 0.6);
        border: 1px solid transparent;

        &:hover{
          text-shadow: 1px 1px black;
          border-color: white;
        }
      }
      .full-screen-mode{
        bottom: 5px;
      }
      .toggle-player-size{
        top: 50px;
      }
      button{
        display: none;
      }
      iframe{
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }
  }
  .sidebar-right{
    overflow: auto;
  }
  .content{
    @include flex(1);
    overflow: auto;
  }
}
