#explore-section{
  h2{
    margin: 0 20px;
    text-align: center;
    border-bottom: 1px solid $gray-font-color;
    padding: 10px;
  }
  ul{
    list-style: none;
    padding: 2px;
    text-align: center;

    li{
      cursor: pointer;
      display: inline-block;
      text-align: center;
      background-color: $gray;
      margin: 5px;
      padding-bottom: 5px;
      position: relative;

      &:hover{
        text-decoration: underline;

        .play-playlist{
          opacity: 1;
        }
      }
      .play-playlist{
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        height: 150px;
        width: 100%;
        background-color: rgba(black, 0.5);
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        i{
          transition: all 0.4s;
          border: 1px solid transparent;
          cursor: pointer;
          border-radius: 100%;
          padding: 20px;
          font-size: 30px;
          width: 75px;
          background-color: rgba(black, 0.25);

          &:hover{
            border-color: white;
            border-color: white;
          }
        }
      }

      .item-bg{
        @include square(150px);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}