#app-header{
  height: 3rem;
  background: rgba(0, 0, 0, 0.23);
  border-bottom: 1px solid $main-black;
  background-color: $light-black;
  color: $gray-font-color;
  padding: 0 1rem;
  
  #search-query{
    color: black;
  }
  #signin-button{
    float: left;
  }
  
  .search-results{
    position: absolute;
    background-color: white;
    border: 1px solid;
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 3rem);

    li{
      cursor: pointer;
      &:hover{
        background-color: #ccc;
      }
    }
  }
  .me{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    float: right;
    height: 100%;

    img{
      height: 2.5rem;
      border-radius: 100%;
      margin-right: 0.5rem;
    }
  }
}
