#app-header{
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  height: 3rem;
  background: rgba(0, 0, 0, 0.23);
  border-bottom: 1px solid $main-black;
  background-color: $light-black;
  color: $gray-font-color;
  padding: 0 1rem;
  
  .home-icon{
    transition: color 0.4s;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    
    &:hover{
      color: white;
    }
  }  
  #search-query{
    color: black;
  }
  #signin-button{
    float: left;
  }
  
  .search-results{
    position: absolute;
    width: 17rem;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 3rem);
    top: 27px;
    left: 5px;
    z-index: 1;
    list-style: none;
    background-color: #282828;

    li{
      @include flexbox;
      @include align-items(center);
      transition: all 0.4s;
      cursor: pointer;
      background-color: $gray;
      margin-bottom: 3px;
      margin-right: 3px;
      height: 60px;
      overflow: hidden;
      padding: 5px;

      &:hover{
        background-color: #4d4d4d;
      }

      img{
        @include square(40px);
        margin-right: 5px;
        border-radius: 100%;
      }
      .result-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .me{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    float: right;
    height: 100%;

    img{
      height: 2.5rem;
      border-radius: 100%;
      margin-right: 0.5rem;
    }
  }
}
