#playlist{
  th, td{
    padding: 0.5rem;
    text-align: left;
  }
  .tracks{
    tr{
      cursor: pointer;
      &:hover, &.is-active{
        background-color: #ccc;
      }
    }
    .artist-name{
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}