<div id="app-content">
  <div class="sidebar-left">
    <ul class="playlist">
      {{#each playlist in controllers.playlists.mine}}
        {{#link-to "playlist" playlist.id tagName="li"}}{{playlist.name}}{{/link-to}}
      {{/each}}
    </ul>
    <div class="current-video">
      {{#if currentVideo.id}}
        {{ember-youtube ytid=currentVideo.id autoplay=true showControls=false showTime=false showProgress=false delegate=controller delegate-as="videoPlayer" buffering="onBuffer" ended="onEnd"}}
      {{else}}
        No video
      {{/if}}
    </div>
  </div>
  <div class="content">
    {{outlet}}
  </div>
  <div class="sidebar-right">

  </div>
</div>