<div id="app-content">
  <div class="sidebar-left">
    <ul class="playlist">
      {{#each playlist in controllers.playlists.mine}}
        {{#link-to "playlist" playlist.id tagName="li"}}{{playlist.name}}{{/link-to}}
      {{/each}}
    </ul>
  </div>
  <div class="content">
    {{outlet}}
  </div>
  <div class="sidebar-right">

  </div>
</div>