<header id="app-header">
  {{#link-to "application"}}Home{{/link-to}}
  <div class="me">
    <img src="{{session.user.img}}" alt="session.user.display_name">
    {{session.user.display_name}}
  </div>
</header>