<div class="login-bg"></div>
<div class="login-wrapper">
  <div class="buttons {{if session.isLoggedInYoutube 'youtube'}} {{if session.isLoggedInSpotify 'spotify'}}">
    <h1>Spotyness</h1>
    <div class="youtube-wrap">
      <div id="signin-button"></div>
      <i class="fa fa-check google-check"></i>
    </div>
    <div class="divisor">+</div>
    <div class="spoty-wrap">
      <div {{action "spotyLogin"}} class="spoty-button">
        <i class="fa fa-spotify"></i> Spoty login
      </div>
      <i class="fa fa-check spoty-check"></i>
    </div>
  </div>
  <div class="message">
    <h2>Enjoy your Spotify music with Youtube</h2>
    <div class="description">
      To use Spotyness you have to authorize your Spotify and Google accounts
    </div>
    <ul>
      <li>Play your playlists and favourite artists</li>
      <li>Search any song in Youtube</li>
      <li>No ads</li>
    </ul>
  </div>
</div>