<div class="playlist-header">
  <h1 class="playlist-title">{{model.name}} - ({{model.totalTracks}})</h1>
</div>

{{#unless tracks.length}}
  No tracks...
{{/unless}}
{{tracks-list content=sortedTracks}}
{{outlet}}